@page
@model GanhouExperienciaIssoSim.AspNet.Pages.PrizeDraw.IndexModel
@{
}

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <div class="mb-3">
        <div class="col-auto">
            <label for="NumberDrawn" class="form-label"> Number drawn</label>
        </div>
        <div class="mb-6">
            <input type="text" asp-for="SearchString" class="form-control" />
            <span id="NumberDrawn" class="form-text">Must be 6 numbers, split by comma ",". E.g. 1,2,3,4,5,6</span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>

@if (Model.Bets != null)
{
    <table class="table table-hover">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bets[0].PrizeDrawName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bets[0].Numbers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bets[0].RightHits)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bets[0].Hits)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Bets)
            {
                <tr class="@(item.Hits >= 4? "table-success": "table-danger")">
                    <td>
                        @Html.DisplayFor(modelItem => item.PrizeDrawName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormatNumbers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>  item.FormatRightHits)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hits)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}